In [1]:
#arithmatic operators

if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

4
5
9
-1
20

In [2]:
#compress the string

# Enter your code here. Read input from STDIN. Print output to STDOUT
from itertools import groupby

for number, lst in groupby(input()):
    print(f"({len(list(lst))}, {number})", end=" ")

1222311
(1, 1) (3, 2) (1, 3) (2, 1)

In [9]:
#minion game

def minion_game(string):
    vow=0
    cons=0
    for i in range(len(string)):
        if string[i] in ["A","E","I","O","U"]:
            vow+=len(string)-i
        else:
            cons+=len(string)-i

    if cons>vow:
        print("Stuart" ,cons)
    elif vow>cons:
        print("Kevin" ,vow)
    else:
        print("Draw")

    # your code goes here

In [8]:
# write a function

def is_leap(year):
    leap = False
    if(year%400 == 0 or year%100 != 0 and year%4 == 0):
        leap = True
    # Write your logic here

    return leap

In [7]:
#iterables and iterator

# Enter your code here. Read input from STDIN. Print output to STDOUT
from itertools import combinations
N=int(input())
l=list(input().split())
K=int(input())
comb=list(combinations(l,K))
r=[i for i in comb if 'a' in i]
print(len(r)/len(comb))

4
a a c d
2
0.8333333333333334

In [5]:
#tuples

if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())
    t = tuple(integer_list)
    print(hash(t))

2
1 2
-3550055125485641917

In [4]:
#find the percentage
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name]= scores
    query_name = input()
    #print(student_marks)

    marks = []
    for name in student_marks:
        if(name == query_name):
            marks = student_marks[name]
    #print(marks)

    m = sum(marks)
    #for x in marks:
    #    avg += x

    avg = (m / len(marks))

    print('%0.2f' % avg)

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

In [3]:
#python string format

def print_formatted(number):

    width = len(str(format(number, 'b')))
    types = ["d", "o", "X", "b"]
    for i in range(1, number+1):
        for k in types:
            print(str(format(i, k)).rjust(width, " "),end = " ")
        print()
    # your code goes here